# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml
